<h2>LISTA DE MÉDICOS</h2>
<br>
<div class= "container" class="col-lg-12">

      <ul class="list-group">   
          <li class="list-group-item">  
            <div class="row">
                <div class="col-lg-2">
                  <img src="assets\medica1.png" class="img-thumbnail" alt="Villanueva Verónica">      
                </div>
                <div class="col-lg-10">

                    <ul class="">
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Morbi leo risus</li>
                        <li class="list-group-item">Porta ac consectetur ac</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                </div>
            </div> 
      </li>
    </ul>

    <ul class="list-group">   
        <li class="list-group-item">  
            <div class="row">
                <div class="col-lg-2">
                  <img src="assets\medico1.jpeg" class="img-thumbnail" alt="Villanueva Verónica">
                </div>
                <div class="col-lg-10">
                  <ul class="list-group">
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                  </ul>
                </div>
              </div>
      </li>
    </ul>
  


  
</div>
